body {
	margin: 0;
	padding: 0;
}


#button a {
	display: block;
	width: 164px;
	height: 34px;
	padding: 10px 0 0 0;
	color: #e88d23;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_button_01.png) no-repeat;
}

#button a:hover {
	color: #ffffff;
	background: url(images/templatemo_button_01_hover.png) no-repeat;
}