body {
	margin: 0;
	padding: 0;
}
#template_content {
	width: 960px;
	margin: auto;
	height: auto;
}
#content {
	float: left;
	width: 960px;
}
#business_promote {
	float: left;
	width: 310px;
	margin-left: 5px;
}
#website_analytic{
	float: left;
	width: 310px;
	margin-left: 10px;
}
#onlline_marketing{
	float: left;
	width: 310px;
	margin-left: 10px;
	margin-right: 5px
}
#button a:hover {
	color: #ffffff;
	background: url(images/templatemo_button_01_hover.png) no-repeat;
}

#button_02 a {
	display: block;
	width: 82px;
	height: 20px;
	padding: 1px 0 0 0;
	color: #e88d23;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_button_02.png) no-repeat;
}

#button_02 a:hover {
	color: #ffffff;
	background: url(images/templatemo_button_02_hover.png) no-repeat;
}